<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.nambaone.prj.user.map.UserMapper">

	<insert id="memberInsert"
		parameterType="co.nambaone.prj.user.service.UserVO">
		INSERT INTO MEMBER
		VALUES(#{userEmail},#{userPassword},#{userNickname},
		#{userTel},#{report},#{cardNumber},#{payDate},
		#{joinDate},#{userAuthor})
	</insert>

	<select id="memberSelect" resultType="co.nambaone.prj.user.service.UserVO">
		SELECT * FROM MEMBER
		WHERE USER_EMAIL = #{userEmail}
		<!-- ▼ 동적 시퀄, mybatis 동적SQL에 자세히 나와 있음. if와 set 많이 씀-->
				<if test="userPassword != null">AND USER_PASSWORD = #{userPassword}</if>
	</select>

	<select id="isIdCheck" resultType="boolean">
		SELECT CASE WHEN COUNT(USER_EMAIL) = 1 THEN 0 ELSE 1 END AS ID
		FROM MEMBER
		WHERE USER_EMAIL = #{id}
	</select>
</mapper>